<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- <add key="repositoryPath" value="..\External Components\NuGet Packages" /> -->
    <!-- <add key="globalPackagesFolder" value="External Components\NuGet Packages" /> -->
  </config>
  <packageSources>
    <add key="nuget.org 1" value="https://nuget.org/api/v2/" />
    <add key="MiX Telematics 1" value="http://nuget.mixtelematics.com/api/v2" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>